@model IEnumerable<NGOsPManWebApp.Models.Donor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>DonorsReports</h1>
@* 
<p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Don_Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Don_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Don_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Project.Project_name)
            </td>
          @*   <td>
                <a asp-action="Edit" asp-route-id="@item.DonorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonorId">Delete</a>
            </td>
 *@        </tr>
}
    </tbody>
</table>
